{% extends "base.html" %}
{% load static %}

{% block css %}
<style>
body {
    background-color: {{board.bg_color}};
}
</style>
<link rel="stylesheet" href="{% static 'css/board/board.css' %}">
{% endblock css %}

{% block content %}
<!-- start navbar2 -->
<nav class="navbar">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">board name : {{board.title}}</span>
        <!-- Button trigger modal create list -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createlist">
            create list
        </button>
    </div>
</nav>
<!-- end navbar2 -->

<!-- start lists -->
<div class="container-fluid">
  <div class="row">
    {% for list in board.blist_set.all %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="list p-2">
              <!-- list header -->
      <div class="list-header">
        <!-- list title -->
        <div class="list-header-title">
          <h5>{{list.name}}</h5>
        </div>
        <!-- end list title  -->
        <!-- list head extras -->
        <div class="list-header-extras">
          <div class="dropdown">
            <a href="#" role="button" data-bs-toggle="dropdown"><i class="fa-solid fa-ellipsis" ></i></a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>

          </div>
          <!-- end list head  extras -->
        </div>
      </div>
      <!-- end list header -->
      <!-- cards -->
      <div class="list-cards">
        {% for card in list.card_set.all %}
        <!-- start card -->
        {% include "board/parts/card.html" %}
        <!-- end card -->
        {% endfor %}
      </div>
      <!-- end cards -->
      <!-- start form add card -->
      <form action="{% url 'create_card' %}" method="post">
        <div class="input-group mb-3 mt-3">
            {% csrf_token %}
            <input type="hidden" value="{{list.id}}" name="list_id" />
            <input type="text" class="form-control" name="card_name" placeholder="Enter a title for this card.." aria-label="" aria-describedby="button-addon2" />
            <button class="btn btn-light" type="submit" id="button-addon2">add a card</button>
        </div>
      </form>
      <!-- end form add card -->
      </div>

    </div>
    {% endfor %} 
  </div>
</div>
<!-- end lists -->

<!-- Modal  create list -->
<div class="modal fade" id="createlist" tabindex="-1" aria-labelledby="createlistLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createlistLabel">create list in board {{board.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="{% url 'create_list' %}" method="post">
              {% csrf_token %}
          <input class="form-control" type="text" placeholder="list name" name="list_name">
          <input  type="hidden" value="{{board.id}}" name="board_id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">create</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


