{% load static %}
<a href="#" data-bs-toggle="modal" data-bs-target="#open-id-{{card.id}}" >
    <div class="list-card">
      <div class="row">

        <!-- title -->
        <div class="col-8 list-card-details">
          <span class="list-card-title">{{card.name}}</span>
        </div>

        <!-- icon  -->
        <div class="col text-end">
          <i class="fa-regular fa-pen-to-square"></i>
        </div>

      </div> <!-- end row -->
      {% comment %} start card elements {% endcomment %}
      {% if card.desc != "" %}<i class="fa-solid fa-audio-description"></i>{% endif %}
      {% comment %} end card elements {% endcomment %}
    </div>
  </a>


<!-- Modal -->
<div class="modal fade" id="open-id-{{card.id}}" tabindex="-1" aria-labelledby="open-id-{{card.id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-fullscreen-lg-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="open-id-{{card.id}}Label">{{card.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <!-- start description -->
            <div class="description">
              <div class="d-flex">
                <i class="fa-solid fa-audio-description"></i>
                <h6 class="ms-1">Description</h6>
              </div>
            </div>

            

            <div class="mb-3">
              <form id="update-desc-form" method="post">
                <textarea class="form-control" id="change-desc"  name="change-desc" rows="3">{{card.desc}}</textarea>
                <input type="hidden" name="id-card" value="{{card.id}}">
                <button type="submit" class="btn btn-dark mt-1">Save</button>
              </form>
            </div>
            <!-- end description -->
            <!-- here show checklist and items -->
            <div id="checklist-area-{{card.id}}">
              {% for checklist in card.checklist_set.all %}
              {% include "board/parts/card_item/card_checklist.html" %}
              {% endfor %}
            </div>
            <!-- end here show checklist and items -->
          </div>
          <div class="col-4 p-3">
            <h5>add to card</h5>
            <div class="card-item">

              <!-- start add checklist -->
              <div class="plugin" data-id-card="{{card.id}}"><i class="fa-solid fa-list-check"></i> Checklist</div>

              <div class="toast-container position-static">
                  <div id="checklistformshow-{{card.id}}" data-bs-autohide="false" class="toast" role="alert"  aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                          <strong class="me-auto">Add checklist</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                      <div class="toast-body">
                        <form  method="post" class="formchecklist">
                          <input type="hidden" name="id-card" value="{{card.id}}">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" name="title-checklist" placeholder="checklist" aria-describedby="button-addon2">
                            <button class="btn btn-dark" type="submit" id="button-addon2">add</button>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
              <!-- end add checklist -->
            </div>
            <!-- end card-item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>