{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock css %}

{% block content %}
{% load crispy_forms_tags %} 
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-5 p-5 text-center">
            <img src="{{request.info.logo.url}}" class="mb-5 mt-5" alt="{{request.info.name}}">
            <div class="login-card">
                <p>Logged out!</p>
                <a href="{% url 'login'%}">Click here to login again.</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}