{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock css %}

{% block content %}
{% load crispy_forms_tags %} 
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-5 p-5 text-center">
            <img src="{{request.info.logo.url}}" class="mb-5 mt-5" alt="{{request.info.name}}">
            <div class="login-card">
                <h2>reset password</h2>
                <form method="post">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-log">submit</button>
                </form>
                <p class="mt-4"><a href="{% url 'login' %}">Login Now</a></p>
                {% if form.email.errors %}
                <p class="mt-5">
                    {{ form.email.errors }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}