:root {
    --tr-background-list: #f1f2f4;
    --ds-text: #172B4D;
    --ds-background-neutral: #091E420F;
}

a, a:hover {
    text-decoration: none;
}

/* start list */
.list {
    background-color: var(--tr-background-list);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: var(--ds-text);
    margin: 5px 10px;
    min-height: 100px; 
}



.list-header {
    column-gap: 4px;
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 1fr max-content;
    min-height: 20px;
    padding: 8px;
    position: relative;
}

/* end list */

/* start card */
.list-card {
    border-radius: 8px;
    flex-shrink: 0;
    margin-bottom: 7px;
    padding: 8px 8px 4px 12px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
}
/* end card */
/* start card plugin */

.card-item .plugin  {
    background-color: var(--ds-background-neutral,#091e420f);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--ds-text,#172b4d);
    cursor: pointer;
    display: block;
    font-weight: 500;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}
/* end card plugin */