{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% comment %} get fontawesome {% endcomment %}
    <link rel="stylesheet" href="{% static 'fontawesome/all.min.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
  </head>
  <body>

    {% comment %} path login page {% endcomment %}
    {% url 'home' as home_path %}

    {% comment %} start header {% endcomment %}
    
    {% if request.path == home_path %}
    {% include "parts/header.html" %}
    {% elif request.path_board %}
    {% include "board/parts/header.html" %}
    {% endif %}
    {% comment %} end header {% endcomment %}

    {% comment %} start content {% endcomment %}
    {% block content %}{% endblock content %}
    {% comment %} end content {% endcomment %}

    {% comment %} start footer {% endcomment %}
    {% if request.path == home_path %}
    {% include "parts/footer.html" %}
    {% endif %}
    {% comment %} end footer {% endcomment %}




   
   {% comment %} js files {% endcomment %}
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}{% endblock js %}
  </body>
</html>